* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  background-color: lightgray;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  place-content: center;
}

div {
  height: 12.5vw;
}

.black:hover {
  cursor: pointer;
}

.red {
  background-color: red;
}

.black {
  background-color: black;
}

.checker {
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}
.checker:hover, .float {
  top: -10px;
}

.board {
  display: grid;
  grid: auto-flow / repeat(8, 1fr);
}

/* indicate illegal moves */

/* .board {
  display: grid,
  grid:
    'a1 a2 a3 a4 a5 a6 a7 a8' 1fr
    'b1 b2 b3 b4 b5 b6 b7 b8' 1fr
    'c1 c2 c3 c4 c5 c6 c7 c8' 1fr
    'd1 d2 d3 d4 d5 d6 d7 d8' 1fr
    'e1 e2 e3 e4 e5 e6 e7 e8' 1fr
    'f1 f2 f3 f4 f5 f6 f7 f8' 1fr
    'g1 g2 g3 g4 g5 g6 g7 g8' 1fr
    'h1 h2 h3 h4 h5 h6 h7 h8' 1fr
    / repeat(8, 1fr);
} */
